<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Abarrotes TI</title>
</head>

<body>
    <div data-role="page">
        <div data-role="header">
            <h1>Abarrotes TI</h1>
        </div>

        <div data-role="content">
            <form action="">
                <input type="text" name="barcode" placeholder="Código de barras">
            <input type="text" name="description" placeholder="Descripción">
            <input type="text" name="brand" placeholder="Marca">
            <input type="number" name="price" placeholder="Precio de compra">
            <input type="text" name="cost" placeholder="Precio de venta">
            <input type="text" name="stock" placeholder="Existencia">
            <input type="date" name="expiredDate" placeholder="">
            <label for="flip-2">Activo:</label>
            <select name="flip-2" id="flip-2" data-role="slider">
                <option value="0">No</option>
                <option value="1">Si</option>
            </select>
            <button type="submit" id="submit-6" class="ui-shadow ui-btn ui-corner-all ui-mini">Guardar</button>
            </form>
        </div>

        <div data-role="footer">
            <h5>Developed by NeftaSiu</h5>
        </div>

    </div>
</body>

</html>